<%= form_with(model: @user, local: true) do |f| %>

    <div>
        <%= render "shared/errors", obj: @user %>
    </div>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>

    <div>
        <%= f.label :age %>
        <%= f.number_field :age %>
    </div>

    <div>
        <%= f.label :height %>
        <%= f.number_field :height %>
    </div>

    <div>
        <%= f.label :weight %>
        <%= f.number_field :weight %>
    </div>

    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <div>
        <%= f.label :confirmation %>
        <%= f.password_field :password_confirmation %>
    </div>


    <div>
        <%= f.submit %>
    </div>

<% end %>
